<%- include("../includes/head.ejs") %>
 <%- include("../includes/navbar.ejs") %>
<main class="main-content">
  <% if (prods.length > 0) { %>
  <div class="grid-container">
    <% for(let product of prods) { %>
    <article class="grid-item">
      <header>
        <h1 class="product-title"><%=product.title%></h1>
      </header>
      <div class="card-image">
        <img src="<%= product.imageURL %>" alt="<%= product.title %>">
      </div>
      <div class="card-content">
        <h2 class="product-price"><%= product.price %></h2>
        <p class="product-description"><%= product.description %></p>
      </div>
          <div class="card__actions">
            <a href="/admin/edit-product/<%= product.id %>?edit=true" class="btn">Edit</a>
            <form action="/admin/delete-product" method="POST">
              <input type="hidden" value="<%= product.id %>" name="productId">
              <button class="btn" type="submit">Delete</button>
            </form>
          </div>
      <% } %>
    </div>
    <% } %>
  </article>
</main>
<%- include("../includes/end.ejs") %>
